<div class="title-header">
  <h1 class="bootcamp-title">
    {{title}}
  </h1>
</div>

<div class="main-container">
  <a [routerLink]="['/home']">
    Back
  </a>

  <div class="course-list">
    <ul>
      <li *ngFor="let topic of angularTopics" class="topic">
        {{topic.name}}
<!--        <div [ngClass]="topic.status == 'Not Started' ? 'not-started' : 'in-progress'"-->
<!--        >-->
<!--&lt;!&ndash;          {{topic.status}}&ndash;&gt;-->
<!--        </div>-->

        <div [ngClass]="{
        'not-started': topic.status === 'Not Started',
        'in-progress': topic.status === 'In Progress',
        'done': topic.status === 'Done'
        }"
        >
          {{topic.status}}
        </div>
      </li>
    </ul>

  </div>
</div>

