<div class="courses">
  <!--<div class="courses"*ngIf="coursesList">-->
  <!--****** NOTE: don't need ngIf directive and property courseList condition value setup ********-->
  <div class="courses-button">
    <button (click)="goBack()" mat-raised-button>
      Back
    </button>
    <button (click)="goHome()" mat-raised-button>
      Home
    </button>
  </div>


  <form [formGroup]="courseForm">
    <div class="development-plan">
      <mat-form-field *ngFor="let plan of angularPlan">
        <mat-label>Select an option</mat-label>
        <mat-select [formControlName]="'angularControl'">
          <mat-option *ngFor="let option of plan.phases" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
