.courses {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  background-color: #f3f3f3;

  .courses-button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      margin: 24px;
      align-self: end;
      color: #b52a25;
      background-color: ghostwhite;
    }
  }
}
