<div>
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
</div>
<div class="home-page-buttons">
  <button mat-raised-button color="primary"
  (click)="oncourses()">
    Courses
  </button>
  <button mat-raised-button color="accent">
    Awards
  </button>
  <button mat-raised-button color="warn">
    Login
  </button>
</div>

<h1>
<!--  Course List-->
   {{ header }}
</h1>
<div class="courses" *ngIf="coursesList">

  <div *ngFor = "let amar of courses">
  {{amar}}
  </div>

<div *ngFor = "let ak of list">

  <h3>
   {{ak.courseId}}
  </h3>
  <h3>
    {{ak.courseName}}
  </h3>
</div>
</div>

<router-outlet></router-outlet>
