.title {
  align-items: center;
  display: flex;
  justify-content: center;


}
.home-page-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  background-color: #eae7e7;
  height: 400px;
  padding: 0 100px
}

.courses {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: auto;
  background-color: #eae7e7;
  height: 400px;
}
h1 {
  text-align: center;
  margin: auto;
}


.development-plan {
  display: flex;
  width: 309px;
  justify-content: space-between;

  p + p {
    margin-left: 12px;
    color: #cc0000;
  }
}

