<div class="title-header">
  <h1 class="bootcamp-title">
    {{title}}
  </h1>
</div>

<div class="main-container">
  <a [routerLink]="['/courses']">
    Back
  </a>

  <div class="courses-button">
    <button (click)="goBack()" mat-raised-button>
      Back
    </button>
    <button (click)="goHome()" mat-raised-button>
      Home
    </button>
  </div>

  <div class="course-list">
    <ul>
      <li *ngFor="let html of htmlPlan" class="topic">
        {{html.htmlCourse}}
        <div [ngClass]="{
        'not-started': html.status === 'Not Started',
        'in-progress': html.status === 'In Progress',
        'done': html.status === 'Done'
        }">
          {{html.status}}
        </div>
      </li>
    </ul>

  </div>
</div>
