<div class="title-header">
  <h1 class="title">
    {{title}}
  </h1>
</div>

<div class="main-container">
  <a [routerLink]="['/home']">
    Back
  </a>

  <div class="course-list">
    <ul>
      <li *ngFor="let html of htmlPlan" class="topic">
        {{html.htmlSkill}}
        <div [ngClass]="{
        'not-started': html.status === 'Not Started',
        'in-progress': html.status === 'In Progress',
        'done': html.status === 'Done'
        }">
          {{html.status}}
        </div>
      </li>
    </ul>

  </div>
</div>
