<div class="title-header">
  <h1 class="title">
    {{title}}
  </h1>
</div>

<div class="main-container">
  <a [routerLink]="['/home']">
    Back
  </a>

  <div class="course-list">
    <ul>
      <li *ngFor="let javascript of javaScriptPlan" class="topic">
        {{javascript.javascriptSkill}}
        <div [ngClass]="{
        'not-started': javascript.status === 'Not Started',
        'in-progress': javascript.status === 'In Progress',
        'done': javascript.status === 'Done'
        }">
          {{javascript.status}}
        </div>
      </li>
    </ul>

  </div>
</div>



<!--<li *ngFor="let java of javaPlan" class="topic">-->
<!--  {{java.javaSkill}}-->
<!--  <div [ngClass]="{-->
<!--        'not-started': java.status === 'Not Started',-->
<!--        'in-progress': java.status === 'In Progress',-->
<!--        'done': java.status === 'Done'-->
<!--        }">-->
<!--    {{java.status}}-->
<!--  </div>-->
<!--</li>-->
