
.home-page-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: #fff;
  height: 200px;
  padding: 0 100px;
  margin: 32px auto;
}

.courses {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  background-color: #f3f3f3;
  height: 500px;

  .courses-button {
    display: flex;
    justify-content: space-between;
    width: 100%;

  button {
    margin: 24px;
    align-self: end;
    color: #b52a25;
    background-color: ghostwhite;
  }
  }
}

h2 {
  text-align: center;
  margin: auto;
}


.development-plan {
  display: flex;
  width: 309px;
  justify-content: space-between;

  //p + p {
  //  margin-left: 12px;
  //  color: #cc0000;
  //}
}
