<div class="title-header">
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
</div>
<div class="home-page-buttons" *ngIf="!coursesList">
  <button mat-raised-button color="primary"
          (click)="oncourses()">
    Courses
  </button>
  <button mat-raised-button color="accent">
    Awards
  </button>
  <button mat-raised-button color="warn">
    Login
  </button>
</div>

<h2>
  <!--  Course List-->
  {{ header }}
</h2>
<div class="courses" *ngIf="coursesList">
  <button (click)="goBack()">
    Back
  </button>
  <div *ngFor = "let development of developmentPlan" class="development-plan">
    <p [routerLink]="development.link">
      {{development.courseName}}
    </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="development.status">
          <mat-option value="option1">Not Started</mat-option>
          <mat-option value="option2">In Progress</mat-option>
          <mat-option value="option3">Completed</mat-option>
        </mat-select>
      </mat-form-field>

  </div>
</div>


<!--// Training-->

<!--Two ways to route, 1. Router Link, 2. Programmatically navigate-->

<!--TODO 1. Router Link-->

<!--<a [routerLink]="['/angular']">
  Angular
</a>-->


<!--TODO 2. Programmatically navigate-->

<!--Amar you can ask me to teach you this later-->

<!--<a (click)="myNavigateFunction()">-->
<!--  Angular-->
<!--</a>-->
